name: Deploy to Beta (Testing)

on:
  push:
    branches-ignore:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WORKOUT_TRACKING_39E60 }}'
          target: beta
          channelId: live
          projectId: workout-tracking-39e60
